PORT=

JWT_SECRET=

MONGO_URI= 
appName=


#Email (gmail)
EMAIL_USER=
EMAIL_APP_PASSWORD=

#SUPER ADMIN 
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=
ADMIN_SURNAME=

#ROLES
ADMIN_ROLE=
SUPER_ADMIN_ROLE=
USER_ROLE=